.folder-list {
    display: flex;
    flex-flow: column;
    border: 2xp black solid;
    padding: 10px;
    padding-right: 40px;
    width: 25%;
}

.addFolder{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

